#wr {
  background-image: url("../images/Warren_Russell.JPG"); }

#wr:hover {
  background-image: url("../images/Warren_Russell_mod.jpg"); }

#as {
  background-image: url("../images/Andre_Soesilo.JPG"); }

#as:hover {
  background-image: url("../images/Andre_Soesilo_mod.jpg"); }

#ak {
  background-image: url("../images/Andrew_Kong.JPG"); }

#ak:hover {
  background-image: url("../images/Andrew_Kong_mod.jpg"); }

#bs {
  background-image: url("../images/Barrett_Stutzman.JPG"); }

#bs:hover {
  background-image: url("../images/Barrett_Stutzman_mod.jpg"); }

#bl {
  background-image: url("../images/Billy_Lan.JPG"); }

#bl:hover {
  background-image: url("../images/Billy_Lan_mod.jpg"); }

body {
  font-family: Helvetica;
  font-size: 1.5em; }
  body #team-members {
    float: left; }
    body #team-members .member {
      float: left;
      margin: 10px;
      padding: 6px;
      transition: all 1s; }
      body #team-members .member:nth-child(odd):hover {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg); }
      body #team-members .member:nth-child(even):hover {
        transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
        -ms-transform: scale(1.5, 1.5); }
      body #team-members .member .image {
        width: 200px;
        height: 200px;
        z-index: 100;
        border-radius: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 2px 2px 2px black;
        transition: background-image 1s;
        -webkit-transition: background-image 1s; }
        body #team-members .member .image a {
          position: absolute;
          height: 200px;
          width: 200px; }
      body #team-members .member .name {
        text-align: center; }
