.member, body #team-members {
  float: left;
  margin: 10px;
  padding: 6px; }

.name, body #team-members div {
  text-align: center; }

body {
  font-family: Verdana;
  font-size: 1.5em; }
  body #team-members {
    clear: both; }
    body #team-members img {
      width: 200px;
      height: 200px; }
